.mainbg-img {
  /* The image used */
  min-height: 680px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: darkslategrey;
}

.stream1 {
  position: absolute;
  right: 0;
  margin: 40px;
  margin-right: 23%;
  max-width: 300px;
  padding: 2px;
  background-color: transparent;
}

.stream2 {
  position: absolute;
  left: 0;
  margin: 40px;
  margin-left: 23%;
  max-width: 300px;
  padding: 2px;
  background-color: transparent;
}

.card-text {
  text-align: justify;
}

.head-badge {
  text-align: center;
  vertical-align: middle;
  margin-top: inherit;
  font-size: xx-large;
}

.card-img {
  height: 200px;
  width: 287px;
}
