.adminSidebar {
  border-right: 1px solid #333;
  min-width: 260px;
  padding: 0 20px;
  background-color: #ebedef;
  height: 90vh;
}
.adminSidebar__avatar {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.adminSidebar__avatar h6 {
  padding-left: 10px;
}
.adminSidebar__button {
  width: "100%";
  max-width: 360;
}

link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.button__active {
  background-color: #566573;
}
