.adminDashboard {
  display: flex;
}

.adminDashboard__container {
  margin-left: 20px;
  margin-top: 50px;
  align-items: center;
  min-width: max-content;

}

link {
  text-decoration: none;
}



a {
  text-decoration: none;
}
